{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>My Wishlist</h2>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'productshow' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100px; height: 100px;">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                </a>
            </li>
        {% empty %}
            <li>No products in your wishlist.</li>
        {% endfor %}

</ul>
</body>
</html>