{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion - Tshirt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href={% static 'styles.css' %}>
    <link rel="shortcut icon" href="{% static 'src/logo-removebg-preview (2).png' %}" type="image/x-icon">
    <script src={% static 'script.js' %}></script>
</head>
<body>

    <div class="navcon">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container">
              <a class="navbar-brand" href="#">FASHION</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <form class="d-flex mx-auto my-2 my-lg-0">
                      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                  </form>
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                              <i class="fa-solid fa-circle-user"></i> Sign In
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                              <i class="fa-solid fa-heart"></i> Wishlist
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                              <i class="fa-solid fa-bag-shopping"></i> Cart
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
      
      <div class="navbar-categories">
          <div class="container">
              <a href="mencollection.html">Men</a>
              <a href="womencollection.html">Women</a>
              <a href="watch.html">Watch</a>
              <a href="shoes.html">Shoes</a>
              <a href="accessoires.html">Accessories</a>
          </div>
      </div>
      
      </div>
  

    <div class="cloth_con">
        <h2>T-shirt</h2>
        <div class="con_inner">
          <div class="prin_clos">
  
            <a href="">
              <div class="clo">
                <img src="src/a1.jpg">
                <div class="details">
                  <p class=p_name>Men's Slogan Printed Short Sleeve T-Shirt</p>
                  <p class="p_price">Rs 200</p>
                </div>
              </div>
            </a>

            
            <a href="">
                <div class="clo">
                  <img src="src/a1.jpg">
                  <div class="details">
                    <p class=p_name>Men's Slogan Printed Short Sleeve T-Shirt</p>
                    <p class="p_price">Rs 200</p>
                  </div>
                </div>
              </a>

              
            <a href="">
                <div class="clo">
                  <img src="src/a1.jpg">
                  <div class="details">
                    <p class=p_name>Men's Slogan Printed Short Sleeve T-Shirt</p>
                    <p class="p_price">Rs 200</p>
                  </div>
                </div>
              </a>

              
            <a href="">
                <div class="clo">
                  <img src="src/a1.jpg">
                  <div class="details">
                    <p class=p_name>Men's Slogan Printed Short Sleeve T-Shirt</p>
                    <p class="p_price">Rs 200</p>
                  </div>
                </div>
              </a>
  
            
            <a href="">
              <div class="clo">
                <img src="src/a1.jpg">
                <div class="details">
                  <p class=p_name>Men's Slogan Printed Short Sleeve T-Shirt</p>
                  <p class="p_price">Rs 200</p>
                </div>
              </div>
            </a>
  
            
            <a href="">
              <div class="clo">
                <img src="src/a1.jpg">
                <div class="details">
                  <p class=p_name>Men's Slogan Printed Short Sleeve T-Shirt</p>
                  <p class="p_price">Rs 200</p>
                </div>
              </div>
            </a>
  
            
            <a href="">
              <div class="clo">
                <img src="src/a1.jpg">
                <div class="details">
                  <p class=p_name>Men's Slogan Printed Short Sleeve T-Shirt</p>
                  <p class="p_price">Rs 200</p>
                </div>
              </div>
            </a>
            
            <a href="">
              <div class="clo">
                <img src="src/a1.jpg">
                <div class="details">
                  <p class=p_name>Men's Slogan Printed Short Sleeve T-Shirt</p>
                  <p class="p_price">Rs 200</p>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>


      <div class="downpart" style="margin-top: 4%;">
        <div class="sc d-flex" style="margin-left: 30px; padding: 12px">
            <p class="logo">FASHION</p>
        </div>
        <div class="down">
            <div class="infoserv">
                <h3>Company</h3>
                <div class="sa">
                    <a href="about">
                        <p>About Us</p>
                    </a>
                    <a href="help">
                        <p>Help & Support</p>
                    </a>
                    <a href="term">
                        <p>Terms & Conditions</p>
                    </a>
                    <a href="privacy">
                        <p>Privacy Policy</p>
                    </a>
                </div>
            </div>
  
            <div class="contact">
                <h3>Contact</h3>
                <div class="sa">
                    <div class="sso d-flex">
                        <i class="fa-solid fa-phone"></i>
                        <p>025-025-0215</p>
                    </div>
                    <div class="sso d-flex">
                        <i class="fa-solid fa-envelope-open"></i>
                        <p>fashion@gmail.com</p>
                    </div>
                </div>
            </div>
  
            <div class="social">
                <h3>Follow Us</h3>
                <div class="sa sss">
                    <a href="https://www.instagram.com/accounts/login/?hl=en" style="text-decoration: none; color: white">
                        <div class="sso d-flex">
                            <i class="fa-brands fa-instagram"></i>
                            <p>Instagram</p>
                        </div>
                    </a>
                    <a href="https://www.facebook.com/" style="text-decoration: none; color: white">
                        <div class="sso d-flex">
                            <i class="fa-brands fa-facebook"></i>
                            <p>Facebook</p>
                        </div>
                    </a>
                    <a href="https://x.com/login" style="text-decoration: none; color: white">
                        <div class="sso d-flex">
                            <i class="fa-brands fa-twitter"></i>
                            <p>Twitter</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>